.video-card img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.video-card img:hover {
  transform: scale(1.05);
}
  
  .form-container h4 {
    text-align: center;
  }
  .search{
    width: 600px;
  }